* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: sans-serif;
}

button:hover {
    cursor: pointer;
}

/* Navbar */
nav button {
    position: fixed;
    top: 4%;
    right: 3%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 1000;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    position: relative;
    top: 3%;
    right: 3%;
    width: 50px;
    height: 5px;
    background: white;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px #ec4f24; */
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    top: 3%;
    right: 3%;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}


.menu-btn__burger::before{
    transform: translateY(-16px);
    width: 65px;
    height: 5px;
}

.menu-btn__burger::after{
    transform: translateY(16px);
    width: 35px;
    height: 5px;
}

/* Nav Button Animation */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    width: 50px;
    height: 5px;
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    width: 50px;
    height: 5px;
}

.box {
    position: absolute;
    top: 3%;
    left: 3%;
    height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(22, 22, 22); 
    overflow: hidden;
    border-radius: 4px;
}

.box::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 130%;
    background: linear-gradient(#0575E6, #ec4f24);
    animation: animate 4s linear infinite;
}
.box::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: rgb(22, 22, 22);
    border-radius: 1px;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box h1 {
    position: relative;
    color: white;
    z-index: 10;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-direction: column;
    font-size: 150%;
    background: black;
    position: fixed;
    top: 0;
    right: -110%;
    width: 100vw;
    height: 100vh;
    text-transform: uppercase;
    gap: 20px;
    font-family: sans-serif;
    overflow-x:hidden;
    transition: all 0.3s linear;
    z-index: 100;
}

.navbar-links.active {
    right: 0;
}

.navbar-anchor {
    position: relative;
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    background-color: black;
    color: white;
    margin: 1px 550px;
    font-weight: bold;
    padding: 1%;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.navbar-anchor:hover {
    color: black;
    background: white;
}
.navbar-anchor:hover::after {
    background: white;
}

.navbar-anchor::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 500%;
    background: linear-gradient(#0575E6, #fc4a1a);
    animation: animate 4s linear infinite;
}
.navbar-anchor::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: black;
    border-radius: 16px;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
a h2 {
    font-size: 1em;
    z-index: 100;
}

.nav-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    color: black;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100vw;
}

.nav-footer .footer-title{
    display: flex;
    align-items: center;
}

.nav-footer .social-links {
    display: flex;
    position: absolute;
    right: 2%;
    top: 25%;
    gap: 30px;
}

.nav-footer .social-links i {
    color: black;
}

@media screen and (max-width: 762px) {
    
}

/* Landing */
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 50px 150px;
}

.main-title #feature-text {
    font-size: 6em;
}

.main-title .wave {
    font-size: 1em;
}

.sentence {
    font-size: 3.5em;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 65px;
    background-color: white;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
} 

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(0.0deg); }
    10% { transform: rotate(14.0deg); }
    20% { transform: rotate(-8.0deg); }
    30% { transform: rotate(14.0deg); }
    40% { transform: rotate(-4.0deg); }
    50% { transform: rotate(10.0deg); }
    60% { transform: rotate(0.0deg); }
    100% { transform: rotate(0.0deg); }
}

@media screen and (max-width: 1290px) {
    .main-title #feature-text {
        font-size: 4em;
    }
    
    .main-title .wave {
        font-size: 1em;
    }
    
    .sentence {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 957px) {
    .main-title #feature-text {
        font-size: 2.5em;
    }
    
    .main-title .wave {
        font-size: 1em;
    }
    
    .sentence {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 713px) {
    .main-title #feature-text {
        font-size: 2em;
    }
    
    .main-title .wave {
        font-size: 1em;
    }
    
    .sentence {
        font-size: 1em;
    }
}

@media screen and (max-width: 762px) {
    
}

/* About */
.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
    text-align: center;
    margin: 70px 150px;
}

.about-page h2 {
    font-size: 2.5em;
    text-transform: uppercase;
}

.about-page h3 {
    font-size: 1.5em;
}

.experience-col {
    display: flex;
    gap: 50px;
}

.text h4, h5 {
    color: white;
}

.techstacks {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.skill-icon i {
    font-size: 50px;
}

@media screen and (max-width: 762px) {
    
}


/* Projects */
.projects-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}
.projects-heading h3 {
    font-size: 2.5em;
    text-transform: uppercase;
}

.projects-heading h2 {
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 15px;
}

.project-filter-buttons ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.project-filter-buttons ul li {
    color: white;
    font-weight: 500;
    display: inline-block;
    margin: 0 8px;
    padding: 5px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.project-filter-buttons ul li:hover {
    background-color: #fff;
    color: black;
}

.project-filter-buttons ul li.active {
    text-decoration: underline;
    text-decoration-color: #0575E6;
    color: #0575E6;
    font-weight: bold;
    letter-spacing: 1px;
}

.projects-container {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    height: 60vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 300ms ease-in-out;
}
.panel.active {
    flex: 5;
}

.panel h2, .panel p, .proj-buttons {
    display: none;
    transition: all 0.1s linear;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 5px;
}
.panel:hover.active h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease-in 0.4s;
    margin-top: 100px;
}
.panel:hover.active p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: opacity 300ms ease-in 0.4s;
}
.panel:hover.active .proj-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: opacity 300ms ease-in 0.4s;
}

@media (max-width:480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}

.proj-buttons a button{
    width: 100px;
    height: 40px;
    border: none;
    color: black;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    z-index: 1;
}

.proj-buttons a button:hover {
    color: white;
    cursor: pointer;
}

.proj-buttons a button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #0575E6;
    border-radius: 4px;
}

.proj-buttons a button:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    color: white;
}

@media screen and (max-width: 762px) {
    
}

/* Testimonials */
.testimonials-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    height: 100vh;
    margin: 50px 150px;
}

.testimonials-heading h3 {
    font-size: 2.5em;
    text-transform: uppercase;
}

.testimonials-heading h2 {
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 15px;
}

.container {
    position: relative;
    perspective: 1000px;
}

.container .slide-container .slide {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 5px 10px #3337;
    width: 600px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
    animation:slide .4s linear;
}

@keyframes slide {
    0% {
        transform: rotateX(180deg);
    }
}

.container .slide-container .slide > * {
    animation: slideContent .2s linear .4s backwards;
}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
}

.container .slide-container .slide .user {
    display: flex;
    align-items: center;
}

.container .slide-container .slide .user .user-title {
    display: flex;
    flex-direction: column;
}

.container .slide-container .slide img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.container .slide-container .slide .user h3, h4 {
    color: #333;
    font-size: 25px;
    text-align: left;
}

.container .slide-container .slide .text {
    color: #333;
    font-size: 17px;
    padding-top: 20px;
    font-style: italic;
}

.container .slide-container {
    display: none;
}

.container .slide-container.active {
    display: block;
}

.container #next,
.container #prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background: #fff;
    color: #333;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 10px #3337;
}

.container #next {
    right: -70px;
}

.container #prev {
    left: -70px;
}

.container #next:hover,
.container #prev:hover {
    background: #333;
    color: #fff;
}

@media screen and (max-width: 762px) {
    
}

/* Contact */
.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 150px;
    height: 100vh;
}

#hidden{
    display: none;
}

.my-image > img {
    height: 250px;
    width: 400px;
    object-fit: contain;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content .contact-heading h3 {
    font-size: 2.5em;
}

.contact-content .contact-heading h4 {
    font-size: 1.5em;
}

.contact-content .contact-heading {
    margin-bottom: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-info {
    display: none;
}

.contact-input {
    width: 100%;
    padding: 10px;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 10px 0;
}

textarea {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 10px 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn button {
    width: 300px;
    height: 100px;
    border: none;
    color: black;
    background-color: #0575E6;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #fc4a1a;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.btn button:hover {
    box-shadow: inset 300px 0 0 0 #fc4a1a;
    cursor: pointer;
}

.form-btn button{
    width: 150px;
    height: 40px;
    border: none;
    color: black;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    z-index: 1;
}

.form-btn button:hover {
    color: white;
    cursor: pointer;
}

.form-btn button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #0575E6;
    border-radius: 4px;
}

.form-btn button:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    color: white;
}

@media screen and (max-width: 1200px ) {
    .my-image > img {
        height: 250px;
        width: 300px;
        object-fit: contain;
        margin-right: 10px;
    }
}

@media screen and (max-width: 920px) {
    .form-btn button {
        width: 120px;
    }
}

@media screen and (max-width: 852px) {
    .form-btn button {
        width: 100px;
    }
    .buttons {
        gap: 5px;
    }
}

@media screen and (max-width: 762px) {
    
}


/* Footer */
footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    color: black;
    position: relative;
    height: 50px;
}

.footer-title{
    display: flex;
    align-items: center;
}

.social-links {
    display: flex;
    position: absolute;
    right: 2%;
    top: 25%;
    gap: 30px;
}

.social-links i {
    color: black;
}

@media screen and (max-width: 760px) {
    footer {
        
    }
}